/*CSS COMUM À TODAS AS PÁGINAS*/
.goleft{
  float: left;
}
.goright{
  float: right;
}
.diffont{
  font-family: "Secular One";
  display: inline-block;
  font-weight: bold;
}
.headimgcontrol{
  float: left;
  box-sizing: border-box;
  border: 10px solid #340501;
}
.textcontrol{
  font-family: "Architects Daughter";
  font-size: 20px;
  float: left;
  width: 300px;
  margin-left: 100px;
  margin-right: auto;
  box-sizing: border-box;
  margin-top: 60px;
  padding-bottom: 80px;
  padding-right: 20px;
}
.sidemenubord{
  border-top: 1px solid white;
  padding: 20px;
}
.sidemenu {
  position: absolute;
  left: 0px;
  top: 268px;
  background-color: #500501;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 220px;
  border-right: 8px solid #340501;
  border-bottom: 8px solid #340501;
  border-left: 8px solid #340501;
}
.botmenubord{
  display: inline-block;
  padding-right: 70px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
}
.botmenu{
  clear: both;
  text-align: center;
  background-color: #500501;
  color: white;
  border-top: 8px solid #340501;
  border-left: 8px solid #340501;
  border-right: 8px solid #340501;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  color: white;
}
.inputsize1{
  width: 600px;
  margin-bottom: 20px;
}
.inputsize2{s
}
h2 {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 160%;
  text-decoration: underline;
}
h3{
  font-weight: bold;
  font-size: 130%;
  width: 300px;
  padding-bottom: 10px;
}
main h1{
  box-sizing: border-box;
  background-image: url('../pictures/Background-4.jpg');
  margin-right: auto;
  height: 150px;
  color: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  font-size: 60px;
  font-family: "Saira Semi Condensed";
  font-weight: normal;
  border-bottom: 10px solid #340501;
}
body {
  background-color: #EBE1E1;
}
aside ul li {
  font-family: "Saira Semi Condensed";
  color: inherit;
  text-decoration: inherit;
  font-size: 30px;
  transition: all 0.5s;
}
aside ul a{
  color: inherit;
  text-decoration: inherit;
}
aside h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
}
footer ul a{
  font-family: "Saira Semi Condensed";
  text-decoration: none;
  color: inherit;
  font-size: 25px;
}
aside ul li:hover {
  background-color: #240100;
  color: #FE9894;
}
footer ul li:hover{
  color: #FE9894;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
